* {
    box-sizing: border-box;
}
body {
    background: linear-gradient(to right bottom, #3be48159, #44d6db82, #cf8ac49e, #dbce83, #d8dd94);
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}
.container {
    background: linear-gradient(to bottom, #c1c78c, #d0e60c);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 385px;
    max-width: 100%;
}
.header {
    background-color: rgb(228, 194, 170);
    border-bottom: 1px solid #f0f0f0;
    padding: 15px 30px;
}
.header h2{
    margin: 0;
    text-align: center;
    color: #fff;
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.form {
    padding: 30px 40px;
}
.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}
.form-control label {
    display: inline-block;
    margin-bottom: 5px;
}
.form-control input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    font-family: inherit;  /*it will use the first form that will be initialise at d beginning of this page from online site*/
}
.form-control.success input {
    border-color: green;
}
.form-control.error input {
    border-color: #e74c3c;
}
.form-control.sucess i.fa-check-circle {
    visibility: visible;
    color: green;
}
.form-control.error i.fa-exclamation-circle {
    visibility: visible;
    color: #e74c3c;
}
.form-control.error small {
    visibility: visible;
    color: #e74c3c;
}
.form-control i {
    position: absolute;
    top: 40px;
    right: 10px;
    visibility: hidden;
}
.form-control small {
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}
.form .button {
    background-color: aquamarine;
    border: 2px solid #f0f0f0;
    color: rgb(150, 18, 238);
    display: block;
    padding: 10px;
    width: 100%;
    font-size: 22px;
    font-family: inherit;
    border-radius: 5px;
    cursor: pointer;
}
#form-over {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 10;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    color: antiquewhite;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding-top: 9rem;
    display: none;
}
#last {
    justify-content: center;
    text-align: center;
    position: flex;
    margin: auto;
    margin-top: 2rem;
    background-color: rebeccapurple;
    border: 2px solid #f0f0f0;
    color: rgb(238, 205, 18);
    display: block;
    padding: 10px;
    font-size: large;
    text-decoration: none;
    cursor: pointer;
}
.terminate {
    background-color: rgb(230, 62, 62);
    color: white;
    padding: 0.4rem;
    border: 2px solid whitesmoke;
    top: 20px;
    right: 20px;
    position: absolute;
    cursor: pointer;
}
a {
    text-decoration: none;
}
.admin_links {
    font-size: 15px;
    justify-content: center;
    text-align: center;
    position: flex;
    margin-top: -15px;
    margin-bottom: 15px;
}
/*
.form-over p {
    font-size: 4rem;
    color: antiquewhite;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    justify-content: center;
} */